body {
    background-color: #f2f2f2;
    font-family: Arial;
}

h2 {
    text-align: center;
}

form {
    background: white;
    width: 380px;
    padding: 25px;
    margin: auto;
    box-shadow: 0px 0px 10px gray;
}

/* Labels */
label {
    font-weight: bold;
    display: block;
    margin-top: 10px;
}

/* Inputs */
input, select, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    background-color: #e6e6e6;
    border: none;
}

/* Textarea height */
textarea {
    height: 60px;
    resize: none;
}

/* Button box */
.btn-box {
    margin-top: 15px;
    display: flex;
    gap: 10px;
}

/* Register button */
.register {
    background-color: green;
    color: white;
    padding: 10px;
    border: none;
    width: 50%;
}

/* Reset button */
.reset {
    background-color: red;
    color: white;
    padding: 10px;
    border: none;
    width: 50%;
}
